
// **************
// Theme
// **************
#ms-components-theme(@theme-vars) {
    .ms-helloworld {
        .color-var(@theme-vars[main-color]);
        .background-color-var(@theme-vars[main-bg]);
    }
}

// **************
// Layout
// **************
.ms-helloworld {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 900;
    transform: translate(-50%, -50%);
    font-size: 32px;
}
